<html>

<head>
    <title>ABOUT</title>
</head>

<body>
    <h1>
        <%= __('Hello %s', 'zac' )%> - <%= __('thisIsAboutPage') %>
    </h1>
    <p><a href="/">home</a></p>
    <ul>
        <li><a href="?lang=tw"><%= __('lang.tw') %></a></li>
        <li><a href="?lang=en"><%= __('lang.en') %></a></li>
        <!-- <li><a href="?swlang=tw"><%= __('lang.tw') %></a></li>
        <li><a href="?swlang=en"><%= __('lang.en') %></a></li> -->
    </ul>
</body>

</html>